<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\nlog-internal-simianapplication.log"
      >

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Mongo"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="Mongo"
      name="mongolog_info"
      connectionString="mongodb://simian_user:simian_123456@localhost:27017/"
      collectionName="info_logs"
      databaseName="applog"
      cappedCollectionSize="26214400"
      includeDefaults="false">

      <field name="Date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <field name="Level" layout="${level}"/>
      <field name="Logger" layout="SimianApplication -> ${logger}"/>
      <field name="Message" layout="${message}" />
      <field name="Hostname" layout="${machinename}" />
    </target>
    <target xsi:type="Mongo"
          name="mongolog_error"
          connectionString="mongodb://simian_user:simian_123456@localhost:27017/"
          collectionName="error_logs"
          databaseName="applog"
          cappedCollectionSize="26214400"
          includeDefaults="false">

      <!--<field name="Date" layout="${date}" bsonType="DateTime" />-->
      <field name="Date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
      <field name="Thread" layout="${threadid}"/>
      <field name="Level" layout="${level}"/>
      <field name="Logger" layout="SimianApplication -> ${logger}"/>
      <field name="Message" layout="${message}" />
      <!--<field name="Exception" layout="${exception:format=toString}" size="8000" />-->
      <field name="Exception" layout="${exception:format=toString}" />
      <field name="Hostname" layout="${machinename}" />
      <!--<field name="StackTrace" layout="${stacktrace}" />-->
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="warn" maxlevel="warn" writeTo="mongolog_info" />
    <logger name="*" minlevel="error" writeTo="mongolog_error" />
  </rules>
</nlog>